# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Add new tools

on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f jenkins/requirements.yml ]; then pip install -r jenkins/requirements.yml; fi
    - name: Run Jenkins file
      shell: bash
      env:
        PRODUCTION_API_KEY: ${{ secrets.PRODUCTION_API_KEY }}
        STAGING_API_KEY: ${{ secrets.STAGING_API_KEY }}
      run: |
        pwd
        ls -l
        touch .secret.env
        git add .
        git config --local user.email "torfinn.nome+gha@gmail.com"
        git config --local user.name "GHA"
        git commit -a -m "update"
        git remote set-url origin "$(git config --get remote.origin.url | sed 's#http.*com/#git@github.com:#g')"
        eval ` ssh-agent -t 60 -s`
        echo "$GHA_DEPLOY_KEY" | ssh-add -
        mkdir -p ~/.ssh/
        ssh-keyscan github.com >> ~/.ssh/known_hosts
        bash -x jenkins/main.sh install
        ssh-agent -k
