name: Add new tools

on:
  push:
    branches: [ master ]
#  pull_request:
#    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - uses: webfactory/ssh-agent@v0.2.0
      with:
        ssh-private-key: ${{ secrets.GHA_DEPLOY_KEY }}
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f jenkins/requirements.yml ]; then pip install -r jenkins/requirements.yml; fi
    - name: Run Jenkins file
      shell: bash
      env:
        PRODUCTION_API_KEY: ${{ secrets.PRODUCTION_API_KEY }}
        STAGING_API_KEY: ${{ secrets.STAGING_API_KEY }}
      run: |
        touch .secret.env
        git config --local user.email "torfinn.nome+gha@gmail.com"
        git config --local user.name "GHA"
        git remote set-url origin "$(git config --get remote.origin.url | sed 's#http.*com/#git@github.com:#g')"
        git pull origin master
        bash -x jenkins/main.sh install
